.hero{
    height: 100vh;
    background: linear-gradient(180deg, rgb(199, 89, 89), rgb(44, 2, 9) 90%);
    display: flex;
}
.hero-left{
    float:1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: rgb(255, 199, 233) ;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-left p{
    color: rgb(99, 3, 11);
    font-size: 80px;
    font-weight: 700;
    
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 25px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    /* display: flexbox;
    justify-content: center;
    align-items:center;
    gap: 15px;
    width: 150px;
    height: 40px;
    border-radius: 80px;
    margin-top: 30px;
    background: rgb(78, 1, 4);
    font-size: 18px;
    font-weight: 500; 
    color: rgb(255, 199, 233); */
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 199, 233) ; /* Example button color */
    color: rgb(2, 0, 0);
    padding: 1px 2px;
    border: none;
    cursor: pointer;
}
.hero-latest-btn :hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.993);
}
.arrow-icon {
    margin-left: 10px; /* Space between text and arrow */
    width: 40px; /* Adjust the size of the arrow */
    height: 40px;
    
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
