.offers{
    width: 70%;
    height: 65vh;
    display: flex;
    margin: auto;
    padding: 0px 150px;
    margin-bottom: 160px;
    background: linear-gradient(180deg, rgb(199, 89, 89), rgb(44, 2, 9) 90%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offers-left h1{
    color: rgb(99, 3, 11);
    font-size: 90px;
    font-weight: 700;
}
.offers-left p{
    color: rgb(238, 148, 193);
    font-size: 25px;
    font-weight: 700;
}
.offers-left button{
    width: 300px;
    height: 80px;
    border-radius: 40px;
    background: rgb(44, 2, 9);
    color: rgba(216, 10, 10, 0.596);
    font-size: 30px;
    font-weight: 500;
    margin-top: 35px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(238, 148, 193)
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 60px;
}